@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* hide scrollbars – Chrome, Edge, Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* hide scrollbars – Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0B090C;
    --background2: #171717;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
